@use 'sass:math';
@use 'sass:map';
@use 'sass:string';
@use 'sass:list';
@use '~/assets/scss/utils/tokens' as tokens;

// mixin for fonts
$font-path: '/fonts/';

@function str-replace($string, $search, $replace: '') {
  $index: string.index($string, $search);

  @if $index == null {
    @return $string;
  }

  @return str-slice($string, 1, $index - 1) + $replace +
    str-replace(
      str-slice($string, $index + str-length($search)),
      $search,
      $replace
    );
}

@mixin font-face(
  $name,
  $path,
  $weight: normal,
  $style: normal,
  $exts: (woff2, woff, ttf, svg, eot)
) {
  $src: ();
  $extmods: (
    eot: '?',
    svg: '#' + str-replace($name, ' ', '_')
  );
  $formats: (
    eot: 'embedded-opentype',
    woff: 'woff',
    woff2: 'woff2',
    ttf: 'truetype',
    svg: 'svg'
  );

  @each $ext in $exts {
    $extmod: if(
      sass(map.has-key($extmods, $ext)): $ext +
        map.get($extmods, $ext)
        ;
        else: $ext
    );
    $format: if(
      sass(map.has-key($formats, $ext)): map.get($formats, $ext) ; else: $ext
    );
    $src: list.append(
      $src,
      url('#{$font-path}#{$path}.#{$extmod}') format('#{$format}'),
      comma
    );
  }

  @font-face {
    font-family: string.quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
    font-display: swap;
  }
}

//Example
//@include font-face(poppins, fonts/poppins, 500, normal, (woff2));

@mixin normalize-list() {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

// mobile first (small query should be write first, then larger)
@mixin min-width($breakpoint) {
  $value: map.get(tokens.$breakpoints, $breakpoint);
  @if $value {
    @media only screen and (min-width: $value) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` not found in $breakpoints map.";
  }
}

@mixin max-width($breakpoint) {
  $value: map.get(tokens.$breakpoints, $breakpoint);
  @if $value {
    @media only screen and (max-width: $value) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` not found in $breakpoints map.";
  }
}

//aspect-ratio
@mixin aspect-ratio($width, $height) {
  aspect-ratio: math.div($width, $height);
  @supports not (aspect-ratio: 1 / 1) {
    &::before {
      float: left;
      padding-top: calc(100% * #{$height} / #{$width});
      content: '';
    }
    &::after {
      display: block;
      content: '';
      clear: both;
    }
  }
}
